# as installation is sensitive to its order, it's recommended to install via the provided shell scripts
jax[tpu]>=0.3.10
wandb
smart-open[gcs]
jsonpickle
tensorflow==2.8.0
protobuf==3.20.1
tpucare
sharedutils
tpunicorn
google-api-python-client
google-cloud-tpu
redis
sqlalchemy
psycopg2-binary
opencv-python
Pillow
git+https://github.com/ytdl-org/youtube-dl.git
google-cloud-storage
oauth2client
utils
scipy
gdown
omegaconf
pyparsing==2.4.7
einops
pytorch-lightning
fastapi
uvicorn
pydantic
transformers